*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url('./../src/font/Outfit.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
    font-display: swap; 
}

html {
  --font: "Outfit", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  --font-size: 1.2rem;
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.2rem;
}

body {
  margin: 0;
  padding: 0;
  background: #F7F7F7;
}

body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font);
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: none;
}

a {
    text-decoration: none;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header {
    background: #040505;
    padding: 10px 0;
    transition: all .2s;
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img {
    width: 250px;
    transition: all .8s;
}

header nav ul li a {
    color: #F2EFF8;
    font-size: 18px;
    transition: all .8s;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(5, 5, 5); 
    z-index: 1000;
    transition: all .2s;
}

.fixed-header img {
    width: 180px;
    transition: all .8s;
}

.fixed-header nav ul li a {
    font-size: 14px;
    transition: all .8s;
}

.fixed-header nav ul {
    padding: 0;
    margin: 8px;
}

#banner img {
    object-fit: cover;
    /*max-width: 100%;*/
    width: 100%;
}

.banner_mobile {
    display: none;
}

#widgets {
    background: #Fff;
}

#widgets .container {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

#widgets .widgets, 
#widgets .widgets a{
    display: flex;
    text-align: center;
    flex-direction: column;
}

#widgets .widgets img, 
#widgets .widgets a img {
    width: 30px;
    margin: 0 auto;
}

#widgets .widgets a:hover h2,
#widgets .widgets a:hover p {
    color: #BFBDBb;
}

#widgets .widgets_body h2,
#widgets a .widgets_body h2 {
    font-size: 18px;
    color: rgba(5, 5, 5);
}

#widgets .widgets_body p,
#widgets a .widgets_body p {
    color: rgba(5, 5, 5);
    font-size: 14px;
}  

#gallery .container  {
    padding: 80px 10px;
}

#gallery .container .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#gallery .container .gallery .gallery_content {
    padding: 0;
    margin: 0;
    height: 500px;
}   

#gallery .container .gallery img {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 500px;
    transition: all .5s;
}

#gallery .container .gallery .gallery_content {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

#gallery .container .gallery .overlay_products {
    background: rgba(5, 5, 5, .6);
    position: absolute;
    top: 0;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #F2EFF8;
    overflow: hidden;
}

#gallery .container .gallery .overlay_products  h2 {
    font-size: 24px;
}

#gallery .container .gallery .overlay_products a {
    border: none;
    background: none;
    background:rgba(5, 5, 5);
    color: #F2EFF8;
    padding: 8px 24px;
    border-radius: 8px;
    cursor: pointer;
}

#gallery .container .gallery .overlay_products a:hover {
    background:rgba(5, 5, 5, .8);
}

#gallery .container .gallery .gallery_content:hover  img {
    transform: scale(1.2);
}

#banner-rodape  {
    padding: 80px 30px;
    background: #FFF;
}

#banner-rodape .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#banner-rodape a {
    border: none;
    background: none;
    background:rgba(5, 5, 5);
    color: #F2EFF8;
    padding: 8px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
}

#banner-rodape a:hover {
    background:rgba(5, 5, 5, .8);
}

#banner-rodape img {
    width: 500px;
}

footer {
    background: rgba(5, 5, 5);
    display: flex;
    flex-direction: column;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 10px;
}

footer .social_network img {
    width: 20px;
}

footer .payments {
    display: flex;
    gap: 20px;
}

footer .payments img {
    width: 48px;
    height: 32px;
}

footer .text_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: normal;
}

footer .text_footer p {
    color: #F2EFF8;
    font-size: 18px;;
}

@media (max-width: 860px) {
    #gallery .container .gallery {
        grid-template-columns: 1fr 1fr;
        padding: 80px 20px;
    }

    #widgets .container {
        flex-wrap: wrap;
        padding: 80px;
        justify-content: center;
        gap: 20px;
    }
    .banner_desktop {
        display: none;
    }

    .banner_mobile {
        display: block;
    }
}

@media (max-width: 580px) {
    #gallery .container .gallery {
        grid-template-columns: 1fr;
    }
    footer .text_footer {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    header nav ul {
        gap: 28px;
        padding: 0;
    }

    header nav ul li a,
    .fixed-header nav ul li a  {
        font-size: 12px;
    }

    #gallery .container {
        padding: 0;
    }

    #gallery .container .gallery {
        padding: 0;
        gap: 0;
    }

    #gallery .container .gallery .gallery_content {
        border-radius: 0;
    }
    #gallery .container .gallery .overlay_products {
        border-radius: 0;
    }

    #gallery .container .gallery img {
        border-radius: 0;
    }
    #banner-rodape img {
        width: 100%;
    }
}
